* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Nunito', sans-serif;
}

/* General */

body {
    background-color: rgb(46, 46, 46);
}

button, .computer-button{
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

button img, .computer-button img{
    width: 55%;
}

/* Header */

nav {
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 80px;
    border-bottom: 2px solid white;
}

nav #logo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

nav #logo h1 {
    font-size: 32px;
}

nav #logo p {
    margin-top: -12px;
}

nav #themes {
    display: flex;
    align-items: center;
}

nav #themes button {
    width: 10vh;
    height: 10vh;

    border: none;
    border-radius: 5vh;

    background-color: transparent;
}

/* Main */

main {
    height: calc(100vh - 13vh);

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Main - Start Button */

#start-button {
    width: 200px;
    height: 80px;

    border: 2px solid white;
    border-radius: 10px;

    font-size: 30px;
    background-color: transparent;
}

/* Main - Result Wrapper */

#result-wrapper {
    width: 100vw;
    height: 60%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#result-wrapper h1 {
    margin-top: 30px;
    font-size: 82px;
}

#content-wrapper {
    width: 100vw;
    height: calc(100vh - 13vh);

    position: relative;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#content-wrapper h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 48px;
}

.match-wrapper {
    width: 70vw;
    height: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 30px 0;
}

.player-button {
    width: 15vh;
    height: 15vh;

    margin: 0 20px;
    border: none;
    border-radius: 8vh;

    background-color: grey;

    transition: 0.2s;
}

.player-button:hover {
    margin-top: -6px;
}

.player-button:nth-child(1):not(:active):hover {
    box-shadow: 0 5px 0 #ff7070;
}

.player-button:nth-child(2):not(:active):hover {
    box-shadow: 0 5px 0 #70ffff;
}

.player-button:nth-child(3):not(:active):hover {
    box-shadow: 0 5px 0 #70ff70;
}

.player-button:active {
    box-shadow: none;
    margin-top: 0;
}

.player-button, .computer-button {
    width: 15vh;
    height: 15vh;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 8vh;

    background-color: rgba(128, 128, 128, 0.3);
}

.results {
    height: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 28px;
}

.match-wrapper .player-selection, .computer-selection {
    width: 100%;
    height: 20%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.results h3 {
    font-weight: 300;
    height: 70px;
}

.results div {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.results .wins {
    margin-right: 2px;
    border-radius: 25px 0 0 25px;
    padding: 2px 15px;
    background-color:  rgba(128, 128, 128, 0.3);
}

.results .rounds {
    margin-left: 2px;
    border-radius: 0 25px 25px 0;
    padding: 2px 15px;
    background-color:  rgba(128, 128, 128, 0.3);
}

/* ---------------------------- Light theme */

.light h1, .light h2, .light h3{
    color: black;
}

#start-button.light {
    border: 2px solid black;
}

body.light {
    background-color: #cccccc;
}

nav .light img {
    content: url(images/light.png);
}

nav.light {
    border-bottom: 2px solid black;
}

#themes button.light {
    border: 2px solid black;
}

.light {
    color: black;
}

/* ---------------------------- Fire theme */

body.fire {
    background-color: #2f2020;
}

nav .fire img {
    content: url(images/fire.png);
}

nav.fire {
    border-bottom: 2px solid #ff7070;
}

#themes button.fire {
    border: 2px solid #ff7070;
}

.fire {
    color: #ff7070;
}


/* ---------------------------- Water theme */

body.water {
    background-color: #202f2f;
}

nav .water img {
    content: url(images/water.png);
}

nav.water {
    border-bottom: 2px solid #70ffff;
}

#themes button.water {
    border: 2px solid #70ffff;
}

.water {
    color: #70ffff;
}

/* ---------------------------- Plant theme */

body.plant {
    background-color: #202f20;
}

nav .plant img {
    content: url(images/plant.png);
}

nav.plant {
    border-bottom: 2px solid #70ff70;
}

#themes button.plant {
    border: 2px solid #70ff70;
}

.plant {
    color: #70ff70;
}

/* ---------------------------- Dark theme */

body.dark {
    background-color: #202020;
}

nav .dark img {
    content: url(images/dark.png);
}

nav.dark {
    border-bottom: 2px solid white;
}

#themes button.dark {
    border: 2px solid white;
}

.dark {
    color: white;
}