* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: rgb(46, 46, 46);
}

button {
    cursor: pointer;
}

button img {
    width: 5vh;

    margin-top: 4px;
}

nav {
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 80px;
    border-bottom: 2px solid white;
}

nav #logo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

nav #logo h1 {
    font-size: 32px;
}

nav #logo p {
    margin-top: -12px;
}

nav #themes {
    display: flex;
    align-items: center;
}

nav #themes button {
    width: 10vh;
    height: 10vh;

    border: none;
    border-radius: 5vh;
    
    background-color: grey;
}

/* Main */

main {
    height: calc(100vh - 13vh);

    display: flex;
    align-items: center;
    justify-content: center;
}

#start-button {
    width: 200px;
    height: 80px;

    border: 2px solid white;
    border-radius: 10px;

    font-size: 30px;
    background-color: transparent;
}

.content-wrapper {
    width: 100vw;
    height: calc(100vh - 13vh);

    position: relative;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.content-wrapper h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 48px;
}

.match-wrapper {
    width: 70vw;
    height: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 30px 0;
}

.selection-button {
    width: 15vh;
    height: 15vh;

    margin: 0 20px;
    border: none;
    border-radius: 8vh;
    
    background-color: grey;
}

.selection-button img {
    width: 7.5vh;

    margin-top: 6px;
}

.match-wrapper .results {
    height: 60%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 28px;
}

.match-wrapper .player-selection, .computer-selection {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Fire theme */

nav .fire img {
    content: url(images/fire.png);
}

.fire {
    color: #ff7070;
}

/* Water theme */

nav .water img {
    content: url(images/water.png);
}

.water {
    color: #70ffff;
}

/* plant theme */

nav .plant img {
    content: url(images/plant.png);
}

.plant {
    color: #70ff70;
}